In [12]:
import pandas as pd
import numpy as np
import ZebraLib as zb

df = pd.read_excel('D:/UNESP/PythonImagineers/Termo/ideal_air_data.xlsx')
df

        T        h        u        s         pr        vr
0     200   199.97   142.56  1.29559     0.3363  1707.000
1     210   209.97   149.69  1.34444     0.3987  1512.000
2     220   219.97   156.82  1.39105     0.4690  1346.000
3     230   230.02   164.00  1.43557     0.5477  1205.000
4     240   240.02   171.13  1.47824     0.6355  1084.000
..    ...      ...      ...      ...        ...       ...
117  2050  2314.60  1726.80  3.83030  2303.0000     2.555
118  2100  2377.40  1775.30  3.86050  2559.0000     2.356
119  2150  2440.30  1823.80  3.89010  2837.0000     2.175
120  2200  2503.20  1872.40  3.91910  3138.0000     2.012
121  2250  2566.40  1921.30  3.94740  3464.0000     1.864

[122 rows x 6 columns]

In [17]:
R = df['T'].values

In [18]:
R[0]

200

In [6]:
df[df['T']==200]

     T       h       u        s      pr      vr
0  200  199.97  142.56  1.29559  0.3363  1707.0

In [10]:
df[df['T']==200]['h'].values

array([199.97])

In [11]:
float(df[df['T']==200]['h'].values)

199.97

In [2]:
import air 
air.linear_regression(['vr', 35.73])

         T         h         u       s      pr     vr
0  887.012  918.3748  663.7524  2.8324  71.045  35.73

In [52]:
from sympy import *
from sympy.abc import *
import numpy as np

Ks, Kw, Fmin, Fmax, Fm, Sf, Fa = symbols("K_s K_w F_{min} F_{max} F_m S_f F_a") 

Y = ((d**(b+2))*0.67*np.pi*A)
Z = (Y/(8*C)) - Ks*Fmin
X = Ks*(Fm-Fmin) + (1.34*((A*d**b)/Sf)-1)*Kw*Fa

In [62]:
X.subs({C:8, d:5, b:-0.1625, Fmin:100, Ks:1.0625, Kw:1.1853, Fa:75, Fm:175, Sf:310, A:2153.5})

627.871366196144

In [54]:
e = Z/X
e

(0.263108384738145*A*d**(b + 2)/C - F_{min}*K_s)/(F_a*K_w*(1.34*A*d**b/S_f - 1) + K_s*(F_m - F_{min}))

In [57]:
er = e.subs({C:8, d:5, b:-0.1625, Fmin:100, Ks:1.0625, Kw:1.1853, Fa:75, Fm:175, Sf:310, A:2153.5})
er.evalf(4).simplify()

2.002

In [56]:
solve(er)

[]